@charset "UTF-8";

#avtowrapper {
    width: 1170px;
    border: 1px solid khaki;
    box-sizing: border-box;
<<<<<<< HEAD
    display:inline-block;
=======
    display: inline-block;
>>>>>>> c76bb69ee923ab9387b2640df834dc25f0d8ef4f
}

.avtomobili{
    border: 1px solid black;
    width: 100%;
    float: left;
    box-sizing: border-box;
    margin: 1% auto;
    
    

}

.avtomobili img {
    width: 150px;
    height:150px;
    float: left;
}

.suma {
    text-align: right;
}
